html,
body {
  background-color: black;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 33%;
  transform: translateX(-50%) translateY(-50%);
}

.contact-link {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: #ccc;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 12px;
}

@media (max-width: 920px) {
  #logo {
    width: 50%;
  }
}
